.bannerarea
  #banner.carousel.slide.carousel-fade
    / Carousel items
    .carousel-inner
      .item.active
        %img{src: "/assets/banner/banner.jpg", style: "width: 100%;"}
      .item
        %img{src: "/assets/banner/banner.jpg", style: "width: 100%;"}
  :javascript
    $("#banner").carousel();