.row
  .col-sm-12
    %h3#concert_date.mgn-t-20
      {{$parent.dt | date:'fullDate' }}
.row
  .col-md-8.events-list
    .loading.text-center(ng-show="loading == true")
      %img{src: "/assets/ajax-loader.gif"}
    .box-white
      .alert.alert-danger(ng-show="loading == false && events.length == 0")
        There is no concerts.

      .clearfix.border-1(ng-repeat="event in events")
        .col-md-3
          %h4
            {{getTime(event.datetime)}}
        .col-md-9
          %h5
            %b Location: 
            {{event.venue.name}}, {{event.venue.city}}, {{event.venue.region}}
          %h5
            %b Artists: 
            {{getArtists(event)}}
          %a.btn.btn-default.btn-md.btn-danger{"ng-href"=>"event.ticket_url", "ng-show"=>"ticketAvailable(event)"} GET TICKET
  .col-md-4
    .box-white
      %datepicker{min: "minDate", "show-weeks" => "false", "ng-model" => "$parent.dt", "ng-change"=>"getEvents()"}