.row
  .col-md-8.events-list
    .loading.text-center(ng-show="loading == true")
      %img{src: "/assets/ajax-loader.gif"}
    .featured-grid
      .box-white.min-height-200
        .alert.alert-danger(ng-show="loading == false && events.length == 0")
          There is no concerts.

        .grid-item.grid-style-properties
          .item{"ng-repeat" => "event in events", "ng-show"=>"loading != true"}
            %a.with-hover{href: "events/{{removeWhitespace(event.artists[0].name)}}"}
              %img.full{"ng-src"=>"{{artistImageUrl(event)}}"}
              %span.mask_hover
                %br
                %h1.link DETAIL INFO
                %h4.link {{event.datetime}}
                %ul.list-inline
                  / - event.artists.each do |artist|
                  /   %li
                  /     %img.img-small{src: "#{artist.image_url}"}

            %p
              {{event.venue.name}}, {{event.venue.city}}, {{event.venue.region}}

  .col-md-4
    .box-white
      %img.img-responsive.center{src: "/assets/ads.jpg"}