.news-carousel-wrapper
  %dl#news-carousel.news-carousel-style
    %dt
      %a{href: "#"} News Link Here
    %dd Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem fermentum ipsum dolor sit amet, ipsum dolor sit amet.
    %dt
      %a{href: "#"} Promo Link Here
    %dd Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem fermentum ipsum dolor sit amet, ipsum dolor sit amet.
    %dt
      %a{href: "#"} Another Link Here
    %dd Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem fermentum ipsum dolor sit amet, ipsum dolor sit amet.