.panel.googleMaparea
  .google-map{center: "map.center", control: "map.control", draggable: "true",options: "map.options", pan: "true", zoom: "map.zoom"}
    / %layer{show: "true", type: "TrafficLayer"}