.panel.events-list
  .loading.text-center(ng-show="loading == true")
    %img{src: "/assets/ajax-loader.gif"}
  .google-map{center: "map.center", draggable: "true",options: "map.options", pan: "true", zoom: "map.zoom"}
    %markers{click: "'onClicked'", coords: "'self'", icon: "'icon'", labelanchor: "22 0", labelclass: "marker-labels", labelcontent: "'title'", models: "map.markers"}
      %windows{closeclick: "'closeClick'", "ng-cloak" => "", show: "'showWindow'"}
        %h5{"ng-non-bindable" => ""}
          %b {{address}} {{getDetail(latitude, longitude)}}
        %img{"ng-non-bindable" => "", "src"=>"{{image_url}}"}