#about-us.container
	.row
		.section-title
			%h2.text-center We Love What We Do
	.row
		.col-sm-6
			%h4
				Our Philosophy
			%h4
				We're committed to making our site easy to use.

			%br
			%h4 The Platform At A Glance
			%p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi.
				
			%br

			%h4 --
			%p
				At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi.

			%br
			%br

		.col-sm-6
			%img.img-thumbnail.img-responsive{src: "/assets/location.png"}