#faq.container
	.row
		.section-title
			%h2.text-center Pretty Much Everything You Need to Know
	.row
		.col-sm-9
			%ul#faq-context
				%li{style: "display: list-item;"}
					1.
					%a{href: "#faq-1"} Tracking multiple locations at once
				%li{style: "display: list-item;"}
					2.
					%a{href: "#faq-2"} Reporting incorrect events
			%hr
			%ul#faq-detail
				%li#faq-1{style: "display: table;"}
					.faq-icon
						.faq-number 1
					.faq-text
						%h4 Tracking multiple locations at once
						%p Right now you cannot track two locations at once, but you can change locations at any time to see what shows are in different areas. To change your location, see this thread.
				%li#faq-2{style: "display: table;"}
					.faq-icon
						.faq-number 2
					.faq-text
						%h4 Reporting incorrect events
						%p No one wants to go to a fake show or a fake venue. Data quality is very important to us, and we do our best to make sure every tour date and detail is correct. That said, if you see an event that you know 100%, no foolin’, is absolutely fake or incorrect, you can email us with the details of the event, and a link to it. Use our email form here to send it in.

		.col-sm-3.well
			%h3 More Information
			%p Check the Terms of Service (TOS) agreement for your hosting service. It almost certainly prohibits interfering with the advertisements they add to your web pages. If you use some trick to block their advertisements on your own, then your hosting service may delete your account for violating its TOS.
