#terms.container
	.row
		.section-title
			%h2.text-center= tr("label.terms")
	.row
		%p
			This Agreement (the "Agreement"), effective upon the date of electronic acceptance (the "Effective Date"), pertains to the use of Quoine (the "Platform"), an Internet application fully owned by Avanze Software Labs Pte. Ltd. (the "Company"), a Singpore based corporation with address at 16 Raffles Quay #33-03 Hong Leong Building 048581. This agreement is entered into by and between Avanze Software Labs Pte. Ltd.,and the user of Quoine ("User" or "Member") (each herein referred to individually as a "Party", or collectively as the "Parties"). In consideration of the covenants and conditions contained herein, the Parties hereby agree to the following terms and conditions:
		%br
		%h4
			General Terms
		%p
			Quoine is a web application that provides services that allow users to exchange (convert, transact) Bitcoin for fiat currencies and vice versa via the Internet. If you wish to register, engage in transactions/interactions with other Members on the Platform and use the services provided through the Platform, please fully read and understand the terms and conditions that follow.
		%p
			1. This is a legal agreement ("Agreement") between you and Avanze Software Labs Pte. Ltd., which will apply to you regarding any and all services offered by or acquired (the "Services") through the Platform. This Agreement sets forth the terms and conditions governing the access and use of the Platform, including the offerings and delivery of Bitcoin or fiat currencies.
		%p
			2. This Agreement may be changed at any time by the Company. It is the responsibility of the User to keep himself/herself updated with the current version of the Agreement. Users and Members waive any claim regarding this issue.
		%p
			3. This Agreement may only be amended with the express consent of the Company. Unless otherwise explicitly stated, the Terms will continue to apply even after termination of your membership to the Platform. If any provision of this Agreement is held invalid, the remainder of this Agreement shall continue in full force and effect.
		%p
			Legal Jurisdiction
			You expressly agree that any claim or dispute arising from your use of our website and/or our services will be governed by the laws of Singapore without regard to the conflict of law provisions thereof. You further agree that any such claims or disputes shall be resolved in Singapore courts, and you agree to be subject to the personal jurisdiction in, and the exclusive venue of, such courts and waive any objection to such jurisdiction and venue for the purpose of litigating any such claim or dispute.
		%h4
			Definitions

		%p
			The Platform: Refers to Quoine.com and related mobile applications, in reference to the technical, functional and organizational structure managed by Quoine (the web application) to allow Sellers and Buyers to conduct buy/sell transactions involving Bitcoin.

		%p
			Bitcoin: The Peer-to-Peer Internet commodity, virtual currency, payments platform. Bitcoin is described in detail at http://bitcoin.org.

		%p
			Seller(s): Member(s) that are submitting an offer to sell bitcoin on the Platform.

		%p
			Buyer(s): Member(s) that are submitting an offer to buy bitcoin on the Platform.

		%p
			Member(s): Buyers and Sellers as well as any holder of an Account.

		%p
			Transaction: Refers to (a) the agreement between the Buyer and the Seller to exchange Bitcoin via the Platform for fiat currencies at an agreed upon rate (“Bitcoin Purchase Transaction”), (b) the conversion of currencies deposited by Members in their account (“Conversion Transaction”), (b) the transfer of Bitcoin among Members (“Bitcoin Transfer Transaction”), (c) the transfer of currencies among Members (“Currency Transfer Transaction”).

		%p
			Price: Refers to the price for which Members are willing to buy or sell bitcoin on the Platform. The Price may be expressed in any of the currencies deposited by Members in their account and supported by the Platform. Members may deposit different currencies in their account. Currencies currently available are US dollars, Japanese yen, and Singapore dollars.

		%p
			Transaction Price: Refers to the total price paid by the Buyer in respect of each Transaction performed on the Platform.

		%p
			Commission: Currently all trading fees are waived. In future, however, and depending on individual users volumes on the Platform, we reserve the right to start charging commission per bitcoin transactions. A fee of 1% plus applicable banking fees depending on bank and currency will be applied for withdrawals to bank accounts. Further to this, a proper notice will be sent to all members notifying them of commission changes. In general terms and for purposes related to future changes related to commission charges, commission refers to the fee which is payable to The Company on each Transaction.

		%h4
			Membership And Users Of The Platform
		%p
			1. Before transacting on the platform all members are required to pass a screening process in line with AML (Anti-Money Laundering) laws. Furthermore by registering or using our platform, you acknowledge that all monies being transacted are sourced from/through legitimate means and are not in any form, manner related to or the result of illicit or illegal activities as dictated by the laws of your location and the laws of Singapore. In case of conflicting laws, the laws of Singapore supersede any other regional laws for the purposes of the use of the Platform. 
		%p
			2. Upon successful registration, you become a member of Quoine (a "Member"), and for as long as you remain a Member, you agree to fully comply with the applicable terms and conditions of this Agreement (the "Terms"). Note that non-members (a "User") are still to be held under some of the conditions and terms of this Agreement.
		%p
			3. The Company or you may end this Agreement at any time and for any reason whatsoever, effective upon sending written notice to the other party by email or other reasonable means. The decision by the Company takes effect at the moment of sending such a notice to the email address provided by you during registration (or at any other email address provided by you). If you send a notice of termination, the corresponding decision by the Company takes effect within several days. Your membership shall concurrently terminate without an obligation to make a payment, rebate or refund on the part of the Company. Nevertheless note that the Company does and will reserve the right to suspend or terminate your membership at any time without prior notice, if and in the event of your breaching this Agreement or any other Terms and Conditions posted on the website at any given point in time.
		%p
			4. The Company assumes no responsibility whatsoever for your use of the Platform. Additionally you agree that the Platform is for your sole use. As such you may not under any circumstance distribute or share your user name and password allowing others to use the services through your membership.
			Age Restrictions
			Use of the Platform is strictly prohibited to minors or any person under the legal age in his or her country. If you provide inaccurate information about your age in violation of this rule, your registration as a member will be cancelled. By using the Platform, you confirm and guarantee that you meet age requirements.
		%h4
			Privacy Policy
		%p
			1. Your private information is not displayed or shared with other members. Members can however communicate with each other via internal tools provided by the Platform such as chat rooms or messaging boards. In no event is personal information displayed as part of these processes. The Platform uses industry standards, such as firewalls and SSL for communications between browsers and server processes, to safeguard the confidentiality of your personal private information. Note that despite the fact that measures in line with industry standards are taken to prevent disclosure of your private information, all security measures are subject to possible attacks, break-in's. The Company cannot and does not provide any guarantees regarding the effectiveness of the measures utilized or our ability to prevent other parties, acting unlawfully, from gaining access to information that you provide to us. While the Company will do its utmost to prevent data leaks and illegal break-ins, we cannot and do not guarantee that any personally identifiable information provided to it will not become public under any circumstances.
		%p
			2. The Platform may archive information on a regular basis. Archived data may include personal information you provide while using the Platform's services. The Platform stores that information on servers under the Company's control or under third parties who have agreed to comply with The Company's commitments made under this Privacy Policy and with whom the Company has a contractual relationship. Archived information may not be erased even in cases when you terminate your membership on the Platform. Having said this, the Company is under no obligation or guarantee to keep or archive any information and does not warrant that any archived information will later be made available to Members or Users.
		%p
			3. The Company may use personal information and Original Content for research for operational purposes or to improve the services it offers or for auditing purposes. The Company will not share your information with third parties, with the exception of disclosures pursuant to lawful requests from legal bodies, such as subpoenas or court orders, or in compliance with applicable laws. Additionally, the Company may share account or other information when it believes it is necessary to comply with law or to protect the Company's interests or property. This may include sharing information with other companies, lawyers, agents or government agencies.


		%h4
			Members Account

		%p
			Members agree to provide the Company with accurate, current and complete information about themselves as prompted through the registration process, and keep such information updated..

		%p
			Members may only have one Account at any one time and may not create or use any Account other than their own. For a Member to be exempt from any of these rules, he/she must request express and prior permission from the Platform. The creation or use of Accounts without obtaining such prior express permission from the Platform will lead to the immediate suspension of all said Accounts, as well as all pending purchase/sale offers.

		%p
			The Company will request identification information (such as an identity card, invoices, government issued photographic identification, utility bill, residential certificate, signed certification of cohabitation, or similar, banking information) depending on the amounts deposited on the Accounts or if the Company determines justifiable reason such as the presence of suspicious activity including but not limited to money-laundering or any other illegal activity. Identification of the bank account from which funds are transferred to the Account may also be requested. In certain cases notarization of certain documents may be requested. Transactions may be frozen until full identity checks are considered satisfactory by The Company as required by applicable money laundering laws. The Company may request additional identification information at any time at the request of any competent authority or by application of any applicable law or regulation.

		%p
			Accounts may be used strictly for the purposes defined in these Terms.

		%p
			PLATFORM TRANSACTION PROCESS FOR TRANSACTIONS

		%p
			The Platform allows Buyers to submit offers to purchase Bitcoin and Sellers to submit offers to sell Bitcoin. The Price for which Members offer to purchase or sell Bitcoin is at their discretion.

		%p
			Members recognize that their offers should only be submitted after careful consideration and once submitted Members are prepared to enter into a Bitcoin Purchase Transaction with another Member. Therefore, offers made by Sellers and Buyers on the Platform represent their unconditional acceptance to be bound by an agreement as soon as the Price set in their offer matches with the Price set in an offer submitted by a Buyer or Seller, respectively. Sellers and Buyers agree that as soon as their respective offers are matched, such offers are binding and may not be withdrawn. The Bitcoin Purchase Transactions will be completed instantaneously upon the matching of the Buyer's and Seller's offers, without prior notice to the Seller and Buyer, and will be considered to have taken place at that date and time.

		%p
			Members acknowledge and agree that the matching of their offers for the sale and purchase of Bitcoin via the Platform is binding and irreversible and as such once Buyers' and Sellers' offers have been matched any right they may have to cancel any Bitcoin Purchase Transaction is effectively lost once this service has been performed.

		%p
			Sellers acknowledge and agree that the payment of the Price in relation to the Bitcoin Purchase Transaction in the name and on behalf of the Buyer, may be delayed due to bank verifications, for a period of up to 1 month. Similarly and due to the inherent nature of the Bitcoin network, Buyers acknowledge and agree that withdrawing, depositing or otherwise receiving Bitcoins into their account may take between one (1) hour and twenty-four (24) hours, barring unforeseen or unavoidable network issues.

		%p
			Upon matching of the offers of Buyer and Seller, The Company has the sole authority to permit the transfer of the amount corresponding to the Transaction Price minus any Commission from the Buyer’s Account to the Seller.

		%h4
			Bitcoin Transfers

		%p
			Members may at any time transfer any amount of Bitcoins to any other Members as well as any other Bitcoin users even if they are not Members (the “Transferee”).

		%p
			Bitcoin Transfer Transactions may be initiated at any time from the Member’s account page.

		%p
			Members shall be solely responsible for ensuring that any transfer of Bitcoins to a Transferee shall be a valid and legal transaction not infringing any laws including money-laundering laws and regulations.
			The Company’s responsibility shall be limited to using reasonable technical efforts to ensure the receipt of the Bitcoin transferred. When conducting Bitcoin Transfer Transactions with a Bitcoin user who is not a Member, the Company’s responsibility shall be further limited to ensuring the transfer of the necessary technical data to the Bitcoin network.


		%h4
			The Company’s Obligation

		%p
			Members acknowledge and agree that when completing a Transaction, they are trading with other Members, and Members accept that the Platform only acts as an intermediary in said Transactions and not as a counterparty to any trade. It is thus the Members’ and should the case arise, the Sellers’ and the Buyers’ responsibility to comply with any and all laws and regulations relating to the Transactions.

		%h4
			The Company represents and warrants that:

		%p
			1.	It will use all reasonable care and skill in facilitating the matching of offers of the Members on the Site via the Platform to conclude Transactions.
		%p
			2.	All purchase and sale offers, as well as Bitcoin Transactions, made on the Platform, will be managed in an anonymous manner so that Buyers and Sellers will not know each other.
		%p
			3.	The Transaction Price is calculated on the basis of actual matched offers made by Buyers and Sellers participating in the bidding process on the Platform combined with any applicable Commission.
		%p
			4.	Once an offer to buy or sell Bitcoin is matched, such offer may not be withdrawn or cancelled.
		%p
			5.	Transfer of Bitcoin in a Transfer Transaction may not be withdrawn.
		%p
			6.	It will hold all monetary sums and all Bitcoin deposited by each Member in its Account, in that Member's name as registered in their Account details, and on such Member's behalf.
		%p
			7.	It shall comply with any and all laws and regulations relating to offering the Platform.

		%p
			If a Member contravenes these Terms, The Company reserves the right to suspend his/her Account and block all fiat related monetary sums or Bitcoin contained therein.

		%p
			The Platform is not intended to provide any legal, tax, insurance or investment advice. All and any tools available on the Platform only provide Members with general information related to Transactions formerly performed on the Platform and should not be construed as investment education or advice provided by The Company. Members are solely responsible for determining whether any contemplated Transaction is appropriate for them based on their personal goals, financial status and risk profile.

		%h4
			The Members’ Obligations 

		%p
			Members represent and warrant that they will only use the Platform to perform Transactions in accordance with the conditions set forth in these Terms and that they are duly authorized and have the capacity to enter into the Transactions on the Platform.

		%p
			Seller warrants that the Bitcoin offered to sell or to transfer correspond to actual Bitcoin.

		%p
			Buyer warrants that the currencies deposited to buy the Bitcoin are actual currencies corresponding to actual assets in its bank account and coming from legitimate, legal sources.

		%p
			Members agree that they will not use the Platform to perform any type of illegal activity of any sort, including, but not limited to, money laundering, terrorism financing, or negatively affect the performances of the Platform.

		%p
			Members agree that, whenever a Transaction is made, the Platform sends and receives the monetary sums and/or Bitcoin from the Buyer and the Seller’s Accounts in their name and on their behalf, through the Platform.

		%p
			Platform Content, Copyright, Intellectual Property

		%p
			All content on the Platform is protected under copyright and may not be copied, distributed, modified, published, or transmitted in any means. Violation of this policy may result in infringement of intellectual property rights and could result in significant civil and criminal penalties. Quoine, Quoine Logos, Website Art, and other identifying marks of The Platform are proprietary to the Company. You may not use these marks for any purpose without the express prior written consent of the Company. Except as expressly set forth above, this Agreement does not grant you any express, implied or other license or right under any patent, trademark or copyright of the Company.


		%h4
			Liability

		%p
			Members represent and warrant that they are the legitimate owners and are allowed to use all monetary sums and Bitcoin deposited on their Account and that the Transactions being carried out do not infringe the rights of any third party or applicable laws. Members who are not consumers ("Business Members") will indemnify The Company for any and all damages suffered and all liability actions brought against The Company for infringement of third party rights or violation of applicable laws.

		%p
			To the extent permitted by law, The Company will not be held liable for any damages, loss of profit, loss of revenue, loss of business, loss of opportunity, loss of data, indirect or consequential loss unless the loss suffered is caused by a breach of these Terms by The Company.

		%p
			The Company cannot be held liable for any malfunction, breakdown, delay or interruption to the internet connection, or if for any reason our site is unavailable at any time or for any period. Where our site contains links to other sites and resources provided by third parties, these links are provided for your information only. We have no control over the contents of those sites or resources, and accept no responsibility for them or for any loss or damage that may arise from your use of them.

		%p
			In the case of fraud, The Company will report all necessary information, including names, addresses and all other requested information, to the relevant authorities dealing with fraud and breaches of the law. Members recognize that their account may be frozen at any time at the request of any competent authority investigating a fraud or any other illegal activity.

		%p
			To the extent that a Member operates and uses the Site and the Platform other than in the course of its business ("Consumer"), nothing in these Terms shall affect the statutory rights of such Members.

		%p
			Nothing in these terms excludes or limits the liability of either party for fraud, death or personal injury caused by its negligence, breach of terms implied by operation of law, or any other liability which may not by law be limited or excluded.




		%h4
			Termination

		%p
			These Terms may be terminated without reason by either party providing the other with reasonable prior notice, receipt of which shall be promptly acknowledged in writing by the other party. Such termination will be effective when the terminating party receives the acknowledgment in writing of its notice to terminate from the other party. Such termination shall not affect the obligations or rights of either party under these Terms which had accrued prior to the notice of termination, nor the Transactions and its related obligations and rights concluded before such termination was effective.

		%p
			The Company may by notice to Members discontinue or modify the Platform and/or revise or terminate these Terms at any time. Members are deemed to have accepted these revisions or termination to the extent that they continue using the Platform. Upon such notice, Members may request a refund of any fund balances in their Accounts by writing to The Company at support@quoine.com within 60 days of receiving notice from The Company of the discontinuation or material modification of the Platform. Alternatively, The Company will before discontinuing the Platform send to all Members such fund balances by transferring such amounts into the bank account of affected Members using the most recent bank details provided by such Members.

		%p
			Should they wish to terminate their agreement with The Company, Members may close his/her Account at any time.

		%p
			Members also agree that The Company may, in its sole discretion by giving notice, terminate Members' access to the Site and their Account, including without limitation: limit, suspend or terminate the service and Members' Accounts, prohibit access to the Site and its content, services and tools, delay or remove hosted content, and take technical and legal steps to keep Members off the Site if we think that they are creating problems or possible legal liabilities, infringing the intellectual property rights of third parties, or acting inconsistently with the letter or spirit of these Terms. Additionally, we may, in appropriate circumstances and at our discretion, suspend or terminate Accounts of Members for any reason, including without limitation: (1) attempts to gain unauthorized access to the Site or another Member’s account or providing assistance to others' attempting to do so, (2) overcoming software security features limiting use of or protecting any content, (3) usage of the Platform to perform illegal activities such as money laundering, terrorism financing or other criminal activities, (4) violations of these Terms, (5) failure to pay or fraudulent payment for Transactions, (6) unexpected operational difficulties, or (7) requests by law enforcement or other government agencies.

		%p
			We also reserve the right to cancel unconfirmed Accounts or Accounts that have been inactive for a period of 6 months or more, or to modify or discontinue our Site or Platform. Members agree that The Company will not be liable to them or to any third party for termination of their Account or access to the Site.

		%p
			Members acknowledge and agree that their Account may be suspended until they provide The Company with documents evidencing their identity and/or any other information that The Company deems necessary to secure the Accounts, the Transactions and/or the Platform.

		%p
			The suspension of an Account has consequences for the future and shall not affect the payment of the commissions due for past Transactions. Therefore, despite the Account having been suspended for whatever reason under these Terms, the Member must still pay the Commission(s) which were due before the date of suspension.

		%p
			Upon termination, Members shall communicate a valid bank account to allow for the transfer of the currencies held on their account. Said bank account shall be held by the Member and shall be located in the same country from which funds initially originated (and in the case where funds originated from several countries, transfers shall be possible only to a valid bank account from which significant funds originated). Bitcoin may be transferred to a valid bank account only after conversion into a currency. The Company shall exercise reasonable efforts in transferring the currencies as soon as possible following the Member’s request provided, however, that any transaction fees levied by any bank intervening between the paying bank and the receiving bank (including the paying bank and the receiving bank) shall be deducted from the currencies transferred.

		%p
			In the case where Members do not wish to make use of the functionalities of the Platform after having transferred currencies on their account, they may request that said currencies be returned to them. In this case, the same procedure as stipulated under the preceding paragraph shall apply.

		%h4
			Data Privacy

		%p
			When you open an Account to use the Platform or otherwise use the Platform we may ask you to provide us with personal information about yourself. Personal information that you provide to The Company through the Platform shall be subject to our privacy policy.

		%p
			Miscellaneous 

		%p
			In case of a force majeure event as defined by applicable law, the liabilities of the affected party to these Terms will be suspended pending resolution of such event.

		%p
			If a competent judicial authority deems any provision of the Terms unenforceable, that provision will be enforced to the maximum extent permissible, and all remaining provisions will remain in full force and effect.

		%h4
			Contact Us

		%p
			If you have any questions relating to these Terms, your rights and obligations arising from these Terms and/or your use of the Site and the Platform, your Account, or any other matter, please do not hesitate to contact us at support@quoine.com.

