<%= blog_tag :footer do %>
  <p>
    Published by 
    <em><%= post.blogger_display_name %></em>
    &nbsp;with 
    <%# Render the no. of comments %>
    <%= render "blogit/posts/comments_count", post: post %>
  </p>
<% end %>
