// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#event-list {
	td p {
		white-space: nowrap;
	}
}

.img-tiny {
	width: 32px !important;
	height: 32px !important;

}

.img-small {
	width: 64px !important;
	height: 64px !important;
}

p.datetime {
  font-size: 16px;
  margin-bottom: 0px;
  line-height: 24px;
}