// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.carousel-fade {
  .carousel-inner {
    .item {
      opacity: 0;
      -webkit-transition-property: opacity;
      -moz-transition-property: opacity;
      -o-transition-property: opacity;
      transition-property: opacity;
    }

    .active {
      opacity: 1;
    }

    .active.left,
    .active.right {
      left: 0;
      opacity: 0;
      z-index: 1;
    }

    .next.left,
    .prev.right {
      opacity: 1;
    }
  }

  .carousel-control {
    z-index: 2;
  }
}

.carousel {
  margin: 0px;
}

#search-panel {
  /*background: #666;*/
  border-bottom: 1px solid #ccc;

  position: relative;
  z-index: 10;
  color: white;

  input[type="text"],
  input[type="text"]:hover {
    border: none;
    border-bottom: 1px dotted #999;
    box-shadow: none;
    color: #fff;
    font-size: 18px;
    background: transparent;
    width: auto;
  }

  .pull-left {
    margin: 25px 15px 15px;

    span {
      font-size: 22px;
    }
  }

  .pull-right {
    margin: 15px;
  }
}

.events-list {
  .clearfix {
    padding: 15px;
    border-bottom: 1px solid #ccc;
    background: white;
  }
  position: relative;
  min-height: 150px !important;
}

.box-white{
  background: white;
  border: 1px solid #ccc;
}

.loading {  
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:1000;
  background-color:white;
  opacity: .4;
 }

.ajax-loader {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -32px; /* -1 * image width / 2 */
  margin-top: -32px;  /* -1 * image height / 2 */
  display: block;     
}

.angular-google-map-container {
    width: 100%;
    height: 600px;
}

/* fix for Twitter Bootstrap handling of responsive images */
.angular-google-map img {
    max-width: inherit;
}

.angular-google-map {
    top: 80px;

}

.shrink {
    font-size: 8;
}

.true:hover {
    background-color: lightgreen;
}

.false:hover {
    background-color: lightpink;
}

.marker-labels {
    color: red;
    background-color: white;
    font-family: "Lucida Grande", "Arial", sans-serif;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    width: 40px;
    border: 1px solid black;
    white-space: nowrap;
}

.gm-style .gm-style-iw div {
  overflow: hidden !important;
}

.navbar {
  margin-bottom: 0px;
}

.btn-md {
  padding: 10px 15px;
  border-color: #eee;
}

.dt-picker {
  th, td {
    padding: 0px !important;
    border: none;
  }

  .btn {
    border: none;
    min-height: 40px;
  }

}

/*===============================
Hover standart style
===============================*/
.event {
  .with-hover {
    position: relative;
    display: block;

    span {
      -webkit-transition: all 0.25s ease-out 0s;
         -moz-transition: all 0.25s ease-out 0s;
          -ms-transition: all 0.25s ease-out 0s;
           -o-transition: all 0.25s ease-out 0s;
              transition: all 0.25s ease-out 0s;
      opacity:0;
      position: absolute;
      width: 100%;
      height: 100%;
      top:0;
      left: 0;
      background: rgba(0, 0, 0, 0.9);

      &:hover {
        opacity:0.9;
      }

      h2 {
        border-bottom: 2px solid white
      }

      &.mask_hover .link {
        color:white; 
        text-align: center; 
        font-weight: bold;
      }
    }

    img {
      width: 100% !important;
      min-height: 100%;
    }

    height: 215px;
    overflow: hidden;
    border: 1px solid #ccc;

  }

  .brief {
    padding: 10px;
    height: 60px;
    border: 1px solid #ccc;
    border-top: none;
  }

  margin-bottom: 20px;
}

#list_view {
  margin-top: 20px;
}


body.home {
  background: none;
}

#contact-us {
  h4 {
    line-height: 30px;
  }

  input[type=text],
  input[type=email] {
    width: 50%;
  }

  textarea {
    height: 280px;
  }

  .mark {
    color: #4eadd3;
    font-size: 16px;
    padding-right: 10px;
  }

  ul {
    list-style: none;
    padding-left: 0px;
  }

}

.section-title {
  overflow: hidden;
  margin: 30px 0;
  text-align: center;
  background: url(/assets/bg-title.gif) repeat-x 0 50%;

  h2 {
    display: inline-block;
    padding: 0 .75em;
    font-size: 26px;
    background: #FFF;
  }
}
