%li.dropdown.active
  %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
    Home
    %b.caret
    %ul.dropdown-menu
      %li
        %a{href: "home_full_slider.html"} Home Full Slider
      %li
        %a{href: "home_carousel.html"} Home Slider Carousel
      %li
        %a{href: "index.html"} Home With Map
      %li
        %a{href: "home_simple.html"} Home Simple
%li.dropdown
  %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
    News
    %b.caret
  %ul.dropdown-menu
    %li
      %a{href: "news.html"} News List
    %li
      %a{href: "news_detail.html"} News Detail
%li
  %a{href: "contact.html"} Contact