/ start Navigation
%nav.navbar.navbar-inverse{role: "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{href: "/"} Sellout
    / .navbar-collapse
    .navbar-collapse.collapse
      %ul.nav.navbar-nav.navbar-right
        = render "layouts/navigation_links"
- if user_signed_in?
  = render 'layouts/sub_navbar'
