.subnavbar
  .subnavbar-inner
    .container
      %a.subnav-toggle{"data-target" => ".subnav-collapse", "data-toggle" => "collapse", href: "javascript:;"}
        %span.sr-only Toggle navigation
        %i.icon-reorder
      .collapse.subnav-collapse
        %ul.mainnav
          %li{class: active_sub_menu('artists')}
            %a{href: "/artists"}
              %i.icon-group
              %span Artists
          %li{class: active_sub_menu('events')}
            %a{href: "/events"}
              %i.icon-calendar
              %span Events
          %li{class: active_sub_menu('venues')}
            %a{href: "#"}
              %i.icon-flag
              %span Venues
          %li{class: active_sub_menu('posts')}
            %a{href: "/blog"}
              %i.icon-comments
              %span Blogs
          %li{class: active_sub_menu('posters')}
            %a{href: "/posters"}
              %i.icon-quote-right
              %span Posters